# Grace Techau
## Box Office Revenue & Letterboxd Ratings Project 
### NOTEBOOK 3
### Cleaning Letterboxd Movie Data - 2018

In [2]:
#import all required packages 
import pandas as pd

### Merge raw scraped data files for Letterboxd movies in 2018

The top 25% most popular Letterboxd movies in 2018 were scraped in three parts and were saved in seperate CSV files. The breakdown of pages scraped per file is below: 
- Pages 1 to 35 are captured in letterboxd_movie_data_2018_raw_1.csv
- Pages 36 to 39 are captured in letterboxd_movie_data_2018_raw_2.csv
- Pages 39 to 71 are caputed in latterboxd_movie_data_2018_raw_3.csv

These CSV files need to be merged into one complete 25% most popular 2018 Letterboxd movies Pandas data frame where all the data can be cleaned.

In [5]:
# Read in 2018 scraping part 1 to a pandas data frame 

raw_2018_1 = pd.read_csv("letterboxd_movie_data_2018_raw_1.csv", encoding='utf-8')

print(f"Number of movies in 2018 part 1: {len(raw_2018_1)}")

Number of movies in 2018 part 1: 2520

In [6]:
# Read in 2018 scraping part 2 to a pandas data frame 

raw_2018_2 = pd.read_csv("letterboxd_movie_data_2018_raw_2.csv", encoding='utf-8')

print(f"Number of movies in 2018 part 2: {len(raw_2018_2)}")

Number of movies in 2018 part 2: 269

In [7]:
# Read in 2018 scraping part 3 to a pandas data frame 

raw_2018_3 = pd.read_csv("letterboxd_movie_data_2018_raw_3.csv", encoding='utf-8')

print(f"Number of movies in 2018 part 3: {len(raw_2018_3)}")

Number of movies in 2018 part 3: 2376

In [8]:
# Merge the different data frames to one collective 2018 pandas data frame 

raw_movie_data_2018 = pd.concat([raw_2018_1, raw_2018_2, raw_2018_3], axis=0, ignore_index=True)

print(f"Total number of movies in 2018: {len(raw_movie_data_2018)}")
print("-"*50)
display(raw_movie_data_2018.head(5))

Total number of movies in 2018: 5165
--------------------------------------------------

,title,year,number_ratings,average_rating,length,genres
0,Spider-Man: Into the Spider-Verse,2018,"Weighted average of 4.42 based on 2,764,289 ra...",4.4,117 mins More at IMDB TMDB,"Adventure, Animation, Science Fiction, Action,..."
1,Avengers: Infinity War,2018,"Weighted average of 3.97 based on 2,174,852 ra...",4.0,149 mins More at IMDB TMDB,"Action, Science Fiction, Adventure, Epic Heroe..."
2,Hereditary,2018,"Weighted average of 3.96 based on 1,722,359 ra...",4.0,128 mins More at IMDB TMDB,"Thriller, Horror, Mystery, Horror, The Undead ..."
3,Black Panther,2018,"Weighted average of 3.65 based on 1,875,107 ra...",3.7,135 mins More at IMDB TMDB,"Adventure, Science Fiction, Action, Epic Heroe..."
4,A Quiet Place,2018,"Weighted average of 3.65 based on 1,392,279 ra...",3.6,91 mins More at IMDB TMDB,"Drama, Science Fiction, Horror, Monsters, Alie..."

### Clean complete 2018 Letterboxd movie data set

In [10]:
# Make a copy of the raw data frame for cleaning
clean_movie_data_2018 = raw_movie_data_2018.copy()

Since the 2018 Letterboxd movie data was scraped in batches and some of those batches ended in the middle of a page, there are duplicates present. I scraped the ending page of each batch as the starting page of the next batch to make sure all movies were scraped. Now those duplicates can be removed.

In [12]:
duplicates_raw = raw_movie_data_2018[raw_movie_data_2018.duplicated(keep=False)]
print(f"Total duplicate records in raw 2018 data frame: {len(duplicates_raw)}")
print("-"*50)

clean_movie_data_2018 = clean_movie_data_2018.drop_duplicates(keep=False)

duplicates_clean = clean_movie_data_2018[clean_movie_data_2018.duplicated(keep=False)]
print(f"Total duplicate records in clean 2018 data frame: {len(duplicates_clean)}")

Total duplicate records in raw 2018 data frame: 78
--------------------------------------------------
Total duplicate records in clean 2018 data frame: 0

The analysis for this project is utilizing the rating data from Letterboxd, therefore any movies where the rating wasn't available are not relevant and can be dropped.

In [14]:
no_rating_data = clean_movie_data_2018[(clean_movie_data_2018['average_rating'] == 'No average rating available') & (clean_movie_data_2018['number_ratings'] == 'No number of ratings available')].index

print("# rows where no average rating and number ratings was available was available")
print("-"*50)
display(len(clean_movie_data_2018.loc[no_rating_data]))

### Drop these rows 
clean_movie_data_2018 = clean_movie_data_2018.drop(no_rating_data)

print("\n")
print("length of the data frame after dropping rows with no rating data")
print("-"*50)
print(len(clean_movie_data_2018))

# rows where no average rating and number ratings was available was available
--------------------------------------------------

1668

length of the data frame after dropping rows with no rating data
--------------------------------------------------
3419

Remove text from 'length' column so that only the minutes numerical value is present. \
For example changing '164 mins More at IMDB TMDB' to '164'

In [16]:
# Keep only the numeric value from the string of text in the length column
clean_movie_data_2018.loc[:, 'length'] = clean_movie_data_2018['length'].str.replace(r'\D', '', regex=True)

print("length column before cleaning")
print("-"*50)
display(raw_movie_data_2018['length'].head(10))
print("\n")
print("length column after cleaning")
print("-"*50)
display(clean_movie_data_2018['length'].head(10))

length column before cleaning
--------------------------------------------------

0    117 mins   More at IMDB TMDB
1    149 mins   More at IMDB TMDB
2    128 mins   More at IMDB TMDB
3    135 mins   More at IMDB TMDB
4     91 mins   More at IMDB TMDB
5    135 mins   More at IMDB TMDB
6    120 mins   More at IMDB TMDB
7    119 mins   More at IMDB TMDB
8    120 mins   More at IMDB TMDB
9    136 mins   More at IMDB TMDB
Name: length, dtype: object

length column after cleaning
--------------------------------------------------

0    117
1    149
2    128
3    135
4     91
5    135
6    120
7    119
8    120
9    136
Name: length, dtype: object

Remove text from 'number_ratings' column to include only the numerical value for the number of ratings. \
For example changing 'Weighted average of 3.03 based on 288 ratings' to '288'

In [18]:
# using pandas .str.extract() method to keep only the numerical value after string of text 'based on'

clean_movie_data_2018['number_ratings'] = clean_movie_data_2018['number_ratings'].str.extract(r'based on ([\d,]+)').replace({',': ''}, regex=True)

print("number_ratings column before cleaning")
print("-"*50)
display(raw_movie_data_2018['number_ratings'].head(10))
print("\n")
print("number_ratings column after cleaning")
print("-"*50)
display(clean_movie_data_2018['number_ratings'].head(10))

number_ratings column before cleaning
--------------------------------------------------

0    Weighted average of 4.42 based on 2,764,289 ra...
1    Weighted average of 3.97 based on 2,174,852 ra...
2    Weighted average of 3.96 based on 1,722,359 ra...
3    Weighted average of 3.65 based on 1,875,107 ra...
4    Weighted average of 3.65 based on 1,392,279 ra...
5    Weighted average of 3.44 based on 1,225,300 ra...
6    Weighted average of 3.49 based on 1,188,409 ra...
7    Weighted average of 3.94 based on 706,094 ratings
8    Weighted average of 4.02 based on 718,578 ratings
9    Weighted average of 3.95 based on 835,688 ratings
Name: number_ratings, dtype: object

number_ratings column after cleaning
--------------------------------------------------

0    2764289
1    2174852
2    1722359
3    1875107
4    1392279
5    1225300
6    1188409
7     706094
8     718578
9     835688
Name: number_ratings, dtype: object

Some movies have many genres (10+), for the scope of this project only keeping the first three genres is relevant.

In [20]:
def clean_genres(genre_str):
    genres_list = genre_str.split(',')

    # remove duplicates while preserving order 
    unique_genres = list(dict.fromkeys(genre.strip() for genre in genres_list)) 
    
    # return only the first three unique genres 
    return ', '.join(unique_genres[:3])

clean_movie_data_2018['genres'] = clean_movie_data_2018['genres'].apply(clean_genres)

print("genres column before cleaning")
print("-"*50)
display(raw_movie_data_2018['genres'].head(10))
print("\n")

print("genres column after cleaning")
print("-"*50)
display(clean_movie_data_2018['genres'].head(10))

genres column before cleaning
--------------------------------------------------

0    Adventure, Animation, Science Fiction, Action,...
1    Action, Science Fiction, Adventure, Epic Heroe...
2    Thriller, Horror, Mystery, Horror, The Undead ...
3    Adventure, Science Fiction, Action, Epic Heroe...
4    Drama, Science Fiction, Horror, Monsters, Alie...
5    Drama, Music, Moving Relationship Stories, Son...
6    Action, Comedy, Adventure, Crude Humor And Sat...
7    Drama, Moving Relationship Stories, Powerful S...
8    Thriller, Drama, Comedy, History, Intense Viol...
9    Drama, Comedy, Crime, Politics And Human Right...
Name: genres, dtype: object

genres column after cleaning
--------------------------------------------------

0                Adventure, Animation, Science Fiction
1                   Action, Science Fiction, Adventure
2                            Thriller, Horror, Mystery
3                   Adventure, Science Fiction, Action
4                       Drama, Science Fiction, Horror
5            Drama, Music, Moving Relationship Stories
6                            Action, Comedy, Adventure
7    Drama, Moving Relationship Stories, Powerful S...
8                              Thriller, Drama, Comedy
9                                 Drama, Comedy, Crime
Name: genres, dtype: object

Correct all data types.

In [22]:
print("data types before cleaning")
print("-"*50)
print(raw_movie_data_2018.dtypes)

# Remove any white space from all columns with object data type 
clean_movie_data_2018['title'] = clean_movie_data_2018['title'].str.strip()
clean_movie_data_2018['number_ratings'] = clean_movie_data_2018['number_ratings'].str.strip()
clean_movie_data_2018['average_rating'] = clean_movie_data_2018['average_rating'].str.strip()
clean_movie_data_2018['length'] = clean_movie_data_2018['length'].str.strip()
clean_movie_data_2018['genres'] = clean_movie_data_2018['genres'].str.strip()

# Convert neccessary columns to numeric data type 
clean_movie_data_2018['year'] = clean_movie_data_2018['year'].astype(int)
clean_movie_data_2018['number_ratings'] = clean_movie_data_2018['number_ratings'].astype(int)
clean_movie_data_2018['average_rating'] = clean_movie_data_2018['average_rating'].astype(float)

# There are some rows that have empty strings for length - convert these to 0's
clean_movie_data_2018['length'] = clean_movie_data_2018['length'].replace('', 0)
clean_movie_data_2018['length'] = clean_movie_data_2018['length'].astype(int)

print("\n")
print("data types after cleaning")
print("-"*50)
print(clean_movie_data_2018.dtypes)

data types before cleaning
--------------------------------------------------
title             object
year               int64
number_ratings    object
average_rating    object
length            object
genres            object
dtype: object


data types after cleaning
--------------------------------------------------
title              object
year                int32
number_ratings      int32
average_rating    float64
length              int32
genres             object
dtype: object

### Final Comparison of Clean and Raw Data Frames

In [24]:
print(f"Length of raw data frame: {len(raw_movie_data_2018)}")
print("-"*50)
display(raw_movie_data_2018.head(5))
print("\n")

print(f"Length of clean data frame: {len(clean_movie_data_2018)}")
print("-"*50)
display(clean_movie_data_2018.head(5))

Length of raw data frame: 5165
--------------------------------------------------

,title,year,number_ratings,average_rating,length,genres
0,Spider-Man: Into the Spider-Verse,2018,"Weighted average of 4.42 based on 2,764,289 ra...",4.4,117 mins More at IMDB TMDB,"Adventure, Animation, Science Fiction, Action,..."
1,Avengers: Infinity War,2018,"Weighted average of 3.97 based on 2,174,852 ra...",4.0,149 mins More at IMDB TMDB,"Action, Science Fiction, Adventure, Epic Heroe..."
2,Hereditary,2018,"Weighted average of 3.96 based on 1,722,359 ra...",4.0,128 mins More at IMDB TMDB,"Thriller, Horror, Mystery, Horror, The Undead ..."
3,Black Panther,2018,"Weighted average of 3.65 based on 1,875,107 ra...",3.7,135 mins More at IMDB TMDB,"Adventure, Science Fiction, Action, Epic Heroe..."
4,A Quiet Place,2018,"Weighted average of 3.65 based on 1,392,279 ra...",3.6,91 mins More at IMDB TMDB,"Drama, Science Fiction, Horror, Monsters, Alie..."

Length of clean data frame: 3419
--------------------------------------------------

,title,year,number_ratings,average_rating,length,genres
0,Spider-Man: Into the Spider-Verse,2018,2764289,4.4,117,"Adventure, Animation, Science Fiction"
1,Avengers: Infinity War,2018,2174852,4.0,149,"Action, Science Fiction, Adventure"
2,Hereditary,2018,1722359,4.0,128,"Thriller, Horror, Mystery"
3,Black Panther,2018,1875107,3.7,135,"Adventure, Science Fiction, Action"
4,A Quiet Place,2018,1392279,3.6,91,"Drama, Science Fiction, Horror"

### Save clean complete 2018 Letterboxd movie details for 25% most popular movies to CSV file

In [41]:
clean_movie_data_2018.to_csv("letterboxd_movie_data_2018_clean.csv", header=True, index=False, encoding='utf-8')